# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Trigger update resolved IP addresses of home system
After=network-online.target
Requires=network-online.target

[Timer]
OnCalendar=*-*-* *:00/5:00

[Install]
WantedBy=multi-user.target
