# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=SOCAT as Home TCP forwarder, IPv4+IPv6-to-IPv6
After=network-online.target
Requires=network-online.target
PartOf=home-tcpforwarder@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/home-forwarder.conf
ExecStart=/bin/bash -c 'INST=%i; HOSTNVAR=HOME_HOSTNAME_$${INST%:*}; HOSTDVAR=HOME_HOSTDESC_$${INST%:*}; PORT=$${INST#*:}; \
			echo "Forwarding to $${!HOSTDVAR}: $${!HOSTNVAR}:$${PORT}"; \
			socat -T 120 TCP6-LISTEN:$${PORT},reuseaddr,fork,su=nobody TCP6:$${!HOSTNVAR}:$${PORT}'
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
