# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=SOCAT as Home TCP forwarder, IPv4+IPv6-to-IPv6
After=network-online.target
Requires=network-online.target
PartOf=home-tcpforwarder@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/home-forwarder.conf
ExecStart=socat -T 120 TCP6-LISTEN:%i,reuseaddr,fork,su=nobody TCP6:${HOME_HOSTNAME}:%i
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
