# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=SOCAT as Home TCP forwarder
PartOf=home-tcpforwarders.service
After=network-online.target
Requires=network-online.target home-tcpforwarder-46-to-6@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
